<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Harper 7 | Home :: Harper 7 </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fare Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <!-- font-awesome-icons -->
    <link href="~/Content/ContentOrder/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="~/Content/ContentOrder/css/style.css" rel='stylesheet' type='text/css' />
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <!--//fonts-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Dream Cafe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- pop up box -->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- gallery -->
    <link rel="stylesheet" href="~/Content/css/smoothbox.css" type='text/css' media="all" />
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online fonts -->
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i" rel="stylesheet">
</head>

<body>

    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h1>
                    <a class="navbar-brand text-capitalize" href="index.html">
                        harper 7
                    </a>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center  ml-lg-auto">
                        <li class="nav-item active  mr-3">
                            <a class="nav-link" href="">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link scroll" href="#about">about</a>
                        </li>
                        <li class="nav-item dropdown mr-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item scroll" href="#team">Team</a>
                                <a class="dropdown-item scroll" href="#services">Services</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="#menu">Menu</a>

                                <a class="dropdown-item scroll" href="#gallery">Gallery</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a  href=@Url.Action("Index","Cart") style="font-weight: 600; text-transform: capitalize; color: #482d2e; letter-spacing: 1px; border-bottom: 1px solid #fff">Order</a>
                            @*<a class="nav-link scroll" href="#contact">Order</a>*@
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <div class="banner" id="home">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-info bg1">
                        <div class="banner-text container">
                            <h4 class="movetxt text-left mb-3 agile-title text-capitalize"> Harper 7 Coffee Shop </h4>
                            <div class="home">
                                <div class="resizing-h3">
                                    <div class="stage">
                                        <div class="cubespinner">
                                            <div class="face1">
                                                <h3> ground beans</h3>
                                            </div>
                                            <div class="face2">
                                                <h3>freshly brewed</h3>
                                            </div>
                                            <div class="face3">
                                                <h3>espresso</h3>
                                            </div>
                                            <div class="face4">
                                                <h3>aftertaste</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="bt mt-4 text-capitalize scroll" href="#about" role="button">
                                read more
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg2">
                        <div class="banner-text container">
                            <h4 class="movetxt text-left mb-3 agile-title text-capitalize">start the day with great taste</h4>
                            <div class="home">
                                <div class="resizing-h3">
                                    <div class="stage">
                                        <div class="cubespinner">
                                            <div class="face1">
                                                <h3> ground beans</h3>
                                            </div>
                                            <div class="face2">
                                                <h3>freshly brewed</h3>
                                            </div>
                                            <div class="face3">
                                                <h3>espresso</h3>
                                            </div>
                                            <div class="face4">
                                                <h3>aftertaste</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="bt mt-4 text-capitalize scroll" href="#about" role="button">
                                read more
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg3">
                        <div class="banner-text container">
                            <h4 class="movetxt text-left mb-3 agile-title text-capitalize">the ultimate coffee experience </h4>
                            <div class="home">
                                <div class="resizing-h3">
                                    <div class="stage">
                                        <div class="cubespinner">
                                            <div class="face1">
                                                <h3> ground beans</h3>
                                            </div>
                                            <div class="face2">
                                                <h3>freshly brewed</h3>
                                            </div>
                                            <div class="face3">
                                                <h3>espresso</h3>
                                            </div>
                                            <div class="face4">
                                                <h3>aftertaste</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="bt mt-4 text-capitalize scroll" href="#about" role="button">
                                read more
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="about-w3ls py-5" id="about">
        <div class="container">
            <div class="row py-md-5 p-sm-3">
                <div class="col-lg-6 ab-w3-img order-lg-0 order-2">
                    <img src="~/Content/images/cake.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 order-lg-0 order-1">
                    <div class="jumbotron pt-0 mb-0">
                        <h3 class="w3ls-title text-capitalize">harper 7</h3>
                        <h4 class="w3l-sub py-3">taste the most exclusive coffee blends and delicious with unique cakes</h4>
                        <p class="lead">
                            “Coffee is a lot more than just a drink; it's something happening. Not as in hip, but like an event, a place to be, but not like a location, but like somewhere within yourself. It gives you time, but not actual hours or minutes, but a chance to be, like be yourself, and have a second cup” - Gertrude Stein
                        </p>
                        <hr class="my-4">
                        <p>
                            Cà phê không chỉ là một loại đồ uống; nó là thứ gì đó đang xảy ra. Không phải mốt thời thượng, mà giống như một sự kiện, một nơi để đến, nhưng không giống như một địa điểm, mà giống như nơi nào đó bên trong bản thân. Nó cho bạn thời gian, nhưng không phải thực sự là giờ và phút, mà một cơ hội để làm chính mình, và uống cốc thứ hai.
                        </p>
                        <a class="btn btn-lg abt-agile scroll" href="#menu" role="button">Service</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- team -->
    <section class="wthree-row py-5" id="team">
        <div class="container py-md-5 py-sm-3">
            <div class="py-lg-5 pt-sm-3 pb-sm-5 py-3 text-center">
                <h3 class="w3ls-title text-capitalize">the best team diversity makes us unique</h3>
                <h4 class="w3l-sub py-3">Đội ngũ của Harper 7 chuyên nghiệp, sẽ cho bạn những trải nghiệm đa dạng tại đây</h4>
            </div>
            <!-- team grids -->
            <div class="row  justify-content-center align-items-center">
                <div class="col-lg-3 col-md-4 team-grids">
                    <div class="team-effect">
                        <img src="~/Content/images/t3.jpg" alt="img" class="img-fluid">
                    </div>
                    <div class="team-grid-w3 p-3 text-center">
                        <h4>Thomson Doe</h4>
                        <p>Executive Chef</p>
                        <ul class="social-iconsv2 agileinfo">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- team middle -->
                <div class="col-lg-6 col-md-4 team-grids my-5">
                    <div class="team-center-w3ls">
                        <h5 class="text-capitalize text-center">Nghệ Thuật Pha Cà Phê Hoàn Hảo</h5>
                        <img src="images/team.png" alt="" class="img-fluid" />
                    </div>
                </div>
                <!-- //team middle -->
                <div class="col-lg-3 col-md-4 team-grids">
                    <div class="team-grid-w3 text-center p-3">
                        <h4>Smith Kevin</h4>
                        <p>Head Chef</p>
                        <ul class="social-iconsv2 agileinfo">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-effect">
                        <img src="~/Content/images/t2.jpg" alt="img" class="img-fluid">
                    </div>
                </div>
            </div>
            <!-- //team grids -->
        </div>
    </section>
    <!-- //team -->
    <!-- services -->
    <div class="agileits-services text-center py-md-5 py-3" id="services">
        <!-- cup animation -->
        <div class="circle">
        </div>
        <!-- //cup animation -->
        <div class="container py-5">
            <h3 class="w3ls-title  text-capitalize">services we offer experience the ultimate coffee</h3>
            <h4 class="w3l-sub pt-3 pb-md-5 pb-0">
                Dịch vụ chúng tôi cung cấp sẽ cho bạn trải nghiệm tuyệt vời tại Harper 7
            </h4>
            <!-- service grid row-->
            <div class="agileits-services-row row py-md-5">
                <div class="col-md-4 agileits-services-grids  order-md-1 order-2">
                    <span class="fas fa-utensils"></span>
                    <h4 class="mt-2 mb-3">Service 1</h4>
                    <p>Phục vụ tinh tế</p>
                </div>
                <div class="col-md-4 order-md-2 order-1 my-md-0 my-5">
                    <img src="~/Content/images/services.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-4 agileits-services-grids order-md-3 order-3 mt-md-0 mt-5">
                    <span class="fab fa-hotjar"></span>
                    <h4 class="mt-2 mb-3">Service 2</h4>
                    <p>Chất lượng sản phẩm tuyệt vời</p>
                </div>
            </div>
            <!-- // service grid row-->
            <!-- service grid row -->
            <div class="row py-lg-5 pt-md-0 pb-md-5">
                <div class="col-lg-3 col-md-6 agileits-services-grids">
                    <span class="fas fa-spinner"></span>
                    <h4 class="mt-2 mb-3">Service 3</h4>
                    <p>Thiết kế không gian quán đẹp mắt, độc đáo và sang trọng</p>
                </div>
                <div class="col-lg-3 col-md-6 agileits-services-grids mt-md-0 mt-5">
                    <span class="fab fa-glide-g"></span>
                    <h4 class="mt-2 mb-3">Service 4</h4>
                    <p>Chăm sóc khách hàng chu đáo</p>
                </div>
                <div class="col-lg-3 col-md-6 agileits-services-grids mt-lg-0 mt-5">
                    <span class="fas fa-shipping-fast"></span>
                    <h4 class="mt-2 mb-3">Service 5</h4>
                    <p>Giao hàng tiện lợi</p>
                </div>
                <div class="col-lg-3 col-md-6 agileits-services-grids mt-lg-0 mt-5">
                    <span class="fab fa-searchengin"></span>
                    <h4 class="mt-2 mb-3">Service 6</h4>
                    <p>Tìm kiếm nhanh chóng</p>
                </div>
            </div>
            <!-- //service grid row -->
        </div>
    </div>
    <!-- services -->
    <!-- video -->
    <div class="video-grid1">
        <div class="demo-bg1">
            <div class="pop-bg text-center position-relative py-5">
                <h2 class="w3ls-title  text-capitalize pt-lg-5 pt-sm-3 ">espresso yourself</h2>
                <h4 class="w3l-sub pt-3 pb-5 text-white">stay grounded</h4>
                <div class="arrow-container animated fadeInDown">
                    <a href="#small-dialog1" class="arrow-2 popup-with-zoom-anim">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                    <div class="arrow-1 animated hinge infinite zoomIn"></div>
                </div>
                <!--  video-button-popup -->
                <div id="small-dialog1" class="mfp-hide">
                    <div class="agileits_modal_body">
                        <iframe src="https://player.vimeo.com/video/82547176"></iframe>
                    </div>
                </div>
                <!-- // video-button-popup -->
            </div>
        </div>
    </div>
    <!-- //video -->
    <!-- menu -->
    <div class="agileits-services  py-5" id="menu">
        <div class="container py-md-5">
            <h3 class="w3ls-title  text-capitalize text-center">Harper 7 menu</h3>
            <h4 class="w3l-sub pt-3 pb-5 text-center">finely crafted beverages</h4>
            <div class="row py-md-5">
                <div class="menu-body order-md-1 order-2">
                    <!-- Section starts: Appetizers -->
                    <div class="menu-section">
                        <!-- Item starts -->
                        @{Html.RenderAction("Loadproducts", "Home"); }
                        <!-- Item ends -->
                    </div>
                    <!-- Section ends: Appetizers -->
                </div>
                <div class="menu-body order-md-2 order-1">
                    <div class="menu-bg"></div>
                    <!-- Section starts: Drinks -->
                    <div class="menu-section">
                        @{Html.RenderAction("Loadproducts2", "Home"); }
                    </div>
                    <!-- Section ends: Drinks -->

                    
                </div>
            </div>
        </div>
    </div>
    <!-- //menu -->
    <!-- slide -->
    <section class="wthree-row slide-bg1">
        <div class="container">
            <div class="py-5 bg-pricemain">
                <h3 class="agile-title text-capitalize">Harper 7</h3>
                <span class="w3-line"></span>
                <h5 class="agile-title text-capitalize pt-4">Số 102A Nhà D2, 215 Tô Hiệu, Dịch Vọng, Cầu Giấy, Hà Nội</h5>
                <p class="py-4">
                    Harper 7 đang nỗ lực làm việc với các đối tác để hiện thực hóa ý tưởng về một không gian trải nghiệm mới để quý khách hàng có thể tận hưởng những khoảnh khắc thư giãn và thưởng thức những sản phẩm chất lượng của Harper 7.
                    Cùng chờ đợi cơ sở mới của Harper 7 nhé!!!
                </p>
                <!-- <a href="index.html" class="text-uppercase bg-light btn px-4 text-dark font-weight-bold">view more</a> -->
            </div>
        </div>
    </section>
    <!-- //slide -->
    <!-- gallery -->
    <div class="agileits-services text-center py-5" id="gallery">
        <div class="container py-md-5 py-3">
            <h3 class="w3ls-title  text-capitalize">Gallery</h3>
            <h4 class="w3l-sub pt-3 pb-5">handcrafted beverages</h4>
            <div class="w3ls_gallery_grids pt-md-5 pt-3">
                <div class="row agileits_w3layouts_gallery_grid">
                    <div class="col-4  agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g1.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-4  agileits_w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g2.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-4  agileits_w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g3.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row agileits_w3layouts_gallery_grid my-4">
                    <div class="col-4 agileits_w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g8.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g8.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 agileits_w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g7.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g7.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 agileits_w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g9.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g9.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row agileits_w3layouts_gallery_grid">
                    <div class="col-4 agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g4.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g4.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 agileits_w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g5.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g5.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 agileits_w3layouts_gallery_grid1 hover14">
                        <div class="w3_agile_gallery_effect">
                            <a href="~/Content/images/g6.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="~/Content/images/g6.jpg" alt=" " class="img-fluid" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //gallery -->
    <!-- testimonials -->
    <section class="wthree-row  testi-agile" id="masthead">
        <div class="bg-layer py-4">
            <div class="container py-md-5 py-3">
                <h3 class="w3ls-title text-center text-capitalize text-yellow">read our testimonials</h3>
                <h4 class="w3l-sub pt-3 pb-5 text-center text-light">each interaction is unique.</h4>
                <div class="row py-5">
                    <div class="col-md-4 test-agile">
                        <div class="img-agile">
                            <i class="fas fa-user"></i>
                            <h6 class="mt-3 text-white">Michael</h6>
                        </div>
                        <div class="test-review test-tooltip1">
                            <p class="mt-3 text-white">
                                <i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                sed diam voluptua.
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 test-agile mt-md-0 my-5">
                        <div class="img-agile">
                            <i class="fas fa-user"></i>
                            <h6 class="mt-3 text-white">Riya</h6>
                        </div>
                        <div class="test-review test-tooltip1">
                            <p class="mt-3 text-white">
                                <i class="fa fa-quote-left" aria-hidden="true"></i> Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                diam voluptua.
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 test-agile">
                        <div class="img-agile">
                            <i class="fas fa-user"></i>
                            <h6 class="mt-3 text-white">Allen</h6>
                        </div>
                        <div class="test-review test-tooltip1">
                            <p class="mt-3 text-white">
                                <i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                sed diam voluptua.
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials -->
    <!-- contact -->
    <!--<section class="wthree-row w3-contact pt-md-5 pt-3" id="contact">
        <!--background-->
        <!--<h1> Harper 7 Order </h1>
        <div class="bg-agile">
            <div class="book-appointment">
                <h2>Make Your Order Here</h2>
                <div class="book-form agileits-login">
                    <form action="#" method="post">
                        <div class="phone_email">
                            <label>Full name (Họ tên người đặt hàng): </label>
                            <div class="form-text">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="text" name="Name" placeholder="" required="">
                            </div>
                        </div>
                        <div class="phone_email phone_email1">
                            <label>Email (Gmail): </label>
                            <div class="form-text">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <input type="email" name="email" placeholder="" required="">
                            </div>
                        </div>
                        <div class="phone_email">
                            <label>Phone number (Số điện thoại): </label>
                            <div class="form-text">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <input type="text" name="Phone no" placeholder="" required="">
                            </div>
                        </div>
                        <div class="phone_email phone_email1">
                            <label>Address (Địa chỉ): </label>
                            <div class="form-text">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <input type="text" name="address" placeholder="" required="">
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="agileits_reservation_grid">
                            <div class="span1_of_1">
                                <label>Date (Ngày giao hàng): </label>
                                <div class="book_date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <input id="datepicker" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>
                        <a href=@Url.Action("Index","Cart")>Đi tới giỏ hàng</a>-->
                        @*<input type="submit" value="Đi tới giỏ hàng">*@
                    @*</form>
                </div>
            </div>
        </div>
    </section>-->*@
    <!-- contact details -->
    <section class="details-bg">
        <div class="contact-main mx-auto py-5">
            <div class="row contact-left no-gutters">
                <div class="col-md-6 align-self-center text-center p-md-0 p-3">
                    <h5 class="pb-3 text-capitalize">opening time</h5>
                    <img src="~/Content/images/f1.jpg" class="img-fluid rounded-circle" alt="" />
                </div>
                <div class="col-md-6 bg-list">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item border-0">Monday - Friday</li>
                        <li class="list-group-item border-0 font-weight-bold">07:00-23:00 Hours</li>
                        <li class="list-group-item border-0">Saturday- Sunday</li>
                        <li class="list-group-item border-0 font-weight-bold">08:00-01:00 Hours</li>
                    </ul>
                </div>
            </div>
            <div class="row contact-right no-gutters">
                <div class="col-md-6 bg-add">
                    <address class="p-3">
                        <p class="c-txt">Số 102A Nhà D2, 215 Tô Hiệu, Dịch Vọng, Cầu Giấy, Hà Nội</p>
                        <p>
                            (+84) 985104987
                        </p>
                        <p>
                        <p>
                            <a href="harper7coffee@gmail.com" class="text-dark">harper7coffee@gmail.com</a>
                        </p>
                    </address>
                </div>
                <div class="col-md-6 align-self-center text-center p-md-0 p-3">
                    <h5 class="pb-3 text-capitalize">Reservation</h5>
                    <img src="~/Content/images/f2.jpg" class="img-fluid rounded-circle" alt="" />
                </div>
            </div>
        </div>
        <!-- //contact details container -->
    </section>
    <!-- //contact -->
    <!-- footer -->
    <footer class="py-md-5 py-3">
        <div class="container">
            <!-- footer grid top -->
            <div class="footerv2-w3ls text-center">
                <h4 class="w3ls-title text-capitalize py-3">socialize with us</h4>
                <ul class="social-iconsv2 agileinfo">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- copyright -->
            <div class="cpy-right text-center pt-5">
                <p>
                    © 2019 - 2021 HARPER 7 COFFEE & TEA
                </p>
            </div>
            <!-- //copyright -->
        </div>
    </footer>
    <!-- //footer -->
    <!-- js-->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- js-->
    <!-- Banner Responsiveslides -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
                            // You can also use "$(window).load(function() {"
                            $(function () {
                                // Slideshow 4
                                $("#slider3").responsiveSlides({
                                    auto: true,
                                    pager: true,
                                    nav: false,
                                    speed: 500,
                                    namespace: "callbacks",
                                    before: function () {
                                        $('.events').append("<li>before event fired.</li>");
                                    },
                                    after: function () {
                                        $('.events').append("<li>after event fired.</li>");
                                    }
                                });

                            });
    </script>
    <!-- // Banner Responsiveslides -->
    <script src="~/Content/js/smoothbox.jquery2.js"></script>
    <!--pop-up-box -->
    <script src="~/Content/js/jquery.magnific-popup.js"></script>
    <script>
                            $(document).ready(function () {
                                $('.popup-with-zoom-anim').magnificPopup({
                                    type: 'inline',
                                    fixedContentPos: false,
                                    fixedBgPos: true,
                                    overflowY: 'auto',
                                    closeBtnInside: true,
                                    preloader: false,
                                    midClick: true,
                                    removalDelay: 300,
                                    mainClass: 'my-mfp-zoom-in'
                                });
                            });
    </script>
    <!-- //pop-up-box -->
    <!-- start-smooth-scrolling -->
    <script src="~/Content/js/move-top.js "></script>
    <script src="~/Content/js/easing.js "></script>
    <script>
                            jQuery(document).ready(function ($) {
                                $(".scroll ").click(function (event) {
                                    event.preventDefault();

                                    $('html,body').animate({
                                        scrollTop: $(this.hash).offset().top
                                    }, 1000);
                                });
                            });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
                            $(document).ready(function () {
                                /*
                                 var defaults = {
                                     containerID: 'toTop', // fading element id
                                     containerHoverID: 'toTopHover', // fading element hover id
                                     scrollSpeed: 1200,
                                     easingType: 'linear'
                                 };
                                 */

                                $().UItoTop({
                                    easingType: 'easeOutQuart'
                                });

                            });
    </script>
    <!-- Bootstrap Core JavaScript -->

    <script src="~/Content/js/bootstrap.js ">
    </script>
    <!-- //Bootstrap Core JavaScript -->
</body>
@RenderBody(); 
</html>